
input[type="range"] {
  border: 1px solid var(--input-stroke);
  border-radius: 5rem;

  max-width: 10rem;

  
}

/* Estilo do polegar (thumb) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove a aparência padrão do polegar */
  appearance: none; /* Remove a aparência padrão do polegar */
  width: 3rem; /* Largura do polegar */
  height: 3rem; /* Altura do polegar */
  background: var(--input-stroke); /* Cor do polegar */
  border-radius: 50%; /* Bordas arredondadas para o polegar */
  cursor: pointer; /* Cursor ao passar o mouse */
}


input[type="range"]::-webkit-slider-thumb:hover ,
input[type="range"]::-webkit-slider-thumb:focus {
  background: var(--brand-dark);
}

.style-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  & p {
    margin-top: -20px;

    font: var(--text-sm);
    color: var(--text-heading);
  }
}